.thumbnail img {
	border-radius: 20px 20px 0 0;
	width: 100%;
}

.thumbnail {
	border-radius: 20px 20px 0 0;
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline-block;
}

section.container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}

div.item {
	border-radius: 10px 10px 0 0;
	position: relative;
	overflow: hidden;
	margin: 0;
	min-width: 220px;
	max-width: 310px;
	width: 100%;
	background: #000000;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	background-color: #0275d8;
}

div.item * {
	box-sizing: border-box;
}

div.item img {
	border-radius: 10px 10px 0 0;
	min-width: 100%;
	vertical-align: top;
	height: 210px;
	overflow: hidden;
}

div.item i {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	font-size: 44px;
	color: #0275d8;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #ffffff;
}

div.holder {
	margin: 10px;
	text-align: center;
	border-radius: 10px 10px 0 0;
	background-color: #eeeeee;
}

div.item:hover img {
	opacity: 0.3;
	filter: grayscale(100%);
}

div.item i {
	transition: .3s ease-in-out;
	transform: translate(-50%, -50%) scale(0);
}

div.item:hover i {
	transform: translate(-50%, -50%) scale(1);
	transition: transform .3s .1s ease-in;
}

div.itemLabel {
	display: block;
	line-height: 30px;
	padding: 0 10px;
}



/* –––––– */

div.graphic {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

button.btn.btn-lg {
  display: flex;
  justify-content: center;
  text-align: center;
}

button.submit.btn.btn-lg {
  transform: translateY(-50px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}
